.vertical-scroll {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height:100vh!important;
    /*scrollbar-width: thin!* Smooth scroll on mobile *!*/
}

.vertical-scroll::-webkit-scrollbar {
    height: 8px;
}

.vertical-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.vertical-scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.vertical-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}